input.verbform.check-wrong {
    border: 1px solid #cc0000;
    background: #ffcccc;
}
input.verbform.check-right {
    border: 1px solid #00aa00;
    background: #ccffcc;
}

.resultGood {
    color: #00aa00;
}
.resultBad {
    color: #cc0000;
}

.result {
    font-weight: bold;
    font-size: large;
}

input.verbform {
    background: transparent;
    border-style: none;
    border-bottom-style: solid;
}

#testtable tr:hover {
    background-color: #ffffcc;
}
